@font-face {
    font-family: 'StarWars';
    src: url("../images/starjedi/Starjedi.ttf");
}

div.sw {
  font-family: 'StarWars';
  letter-spacing: 3px;
  text-transform: none;
}

.reveal section img
{
  border:0px none white;
  box-shadow:0 0 0px rgba(0, 0, 0, 1) !important;
}

.reveal h3 {
  text-transform:none;
  font-weight:bold;
}

div.white {
	color: white;
}


